.factory
	display flex
	flex-wrap wrap
	justify-content space-between
	width 100%
	max-width 720px
	margin 0 auto
	padding 10px
	background-color $colorBg
	&__col
		width 100%
		padding 10px
		@media $tablet
			width 50%