.settings
	fieldset
		margin 0
		margin-bottom 20px
		padding 0
		border none
	.label
		display block
		width 100%
		margin 0
		margin-bottom 4px
	.input
		display block
		width 100%
		margin 0
		margin-bottom 10px
		padding 8px 8px 10px
		border 1px solid $colorSecondary
		&:last-child 
			margin-bottom 0px