// media queries
$mobile = 'screen and (min-width: 320px)'
$tablet = 'screen and (min-width: 720px)'
$desktop = 'screen and (min-width: 980px)'

// colors
$colorPrimary = #222222
$colorSecondary = #e5e5e5
$colorBg = #F8F8F8

// fonts
$family = 'Segoe UI', 'Helvetica Neue', sans-serif
$familySecond = 'Georgia', serif